
<div id="page-step1" class="page center">
    <header class="bar bar-nav rb-nav">
        <a class="icon icon-left-nav pull-left" data-history="back"></a>
        <button class="btn btn-link btn-nav pull-right" data-toggle="popup" data-target="#popup-share">
            <span class="icon icon-more-vertical"></span>
        </button>
        <h1 class="title">
           <span data-role="title"></span>
        </h1>
    </header>

    <div class="bar bar-standard bar-footer">
        <a class="btn btn-positive btn-block" data-toggle="page" data-start="#page-step1" href="#page-step2">투자하기</a>
    </div>

    <div class="content" style="top:0">

        <div class="rb-cover">
            <div class="card-img-backdrop rb-cover-bg"></div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">  
                        <img src="http://goodfinance.co.kr/layouts/jumbotron/_images/pic-01.jpg" class="img-responsive">
                    </div>
                    <div class="swiper-slide">  
                        <img src="http://goodfinance.co.kr/layouts/jumbotron/_images/pic-02.jpg" class="img-responsive">
                    </div>
                </div>
                 <div class="swiper-pagination"></div>
            </div>
        </div>



        <div class="content-padded">
            <span class="badge badge-inverted">68명 참여</span>
            <span class="badge badge-positive badge-inverted">매입보증채권</span>
            <h3 class="rc-title" data-role="title"></h3>
            <h3 class="rc-price">410,000원 <span class="badge badge-negative">HIT</span></h3>
        </div>

        <div class="card">
            <ul class="table-view rb-cart">
                <li class="table-view-cell"><small>펀딩금액</small> <span class="badge">4억 5000만</span></li>
                <li class="table-view-cell"><small>최소투자금액</small> <span class="badge">100만</span></li>
            </ul>
        </div>


        <div class="segmented-control content-padded" data-control="affix" data-offset="50">
            <a class="control-item active" href="#item1mobile">
                투자요약
            </a>
            <a class="control-item" href="#item2mobile">
                건물정보
            </a>
            <a class="control-item" href="#item3mobile">
                평가등급
            </a>
            <a class="control-item" href="#item4mobile">
                위치정보
            </a>

        </div>
        <div class="content-padded rb-article">
            <span id="item1mobile" class="control-content active">
                <ul>            
                    <li>투자상품 : 건축자금채권</li>
                    <li>모집금액 : 1차 4.5억원(모집중) + 2차 4.3억원(예정) = 총 8.8억원</li>
                    <li>연수익률 : 12.8%</li>
                    <li>투자기간 : 12개월</li>
                    <li>상환방식 : 매월 이자 지급 후 원금은 만기일시상환 (중도상환가능)</li>
                    <li>상환재원 : 준공 후 분양(임대) 또는 담보대출</li>
                    <li>자금용도 : 토지 선순위 담보대출 상환 2.1억원 + 공사비 6억원 + 기타비용 0.7억원 = 총8.8억원</li>
                </ul>

                <div class="content-padded">
                    <h3>"착한금융을 즐겨라"</h3>
                    <p>지난 4월 2일~3일 잠실야구장, 문학구장에 이어, 이번에는 서울 주요 거점에서 사이다를 무료로 증정합니다.</p>
                    <p>지또 주요 지하철 역사에서도 사이다를 무료로 나눠드리는 게릴라 증정 이벤트가 준비되어 있습니다. 지하철 게릴라 이벤트는 4월 12일부터 한 달간 공덕역, 강남역, 신도림역, 시청역, 영등포, 건대입구역, 가산디지털단지역, 양재역, 고속터미널역, 삼성역, 왕십리역, 선릉역, 종각역 릴레이로 진행됩니다.</p>
                    <p>지오는 6월말까지 진행되는 #사이다데이 릴레이 이벤트에 많은 관심 바랍니다. 이벤트의 자세한 사항은 페이스북을 통해 안내드릴 예정입니다.</p>
                </div>

            </span>
            <span id="item2mobile" class="control-content">
                건물정보
            </span>
            <span id="item3mobile" class="control-content">
                평가등급
            </span>
            <span id="item4mobile" class="control-content">
                위치정보
            </span>
        </div>
    </div>
</div>

<!-- step 2 Page -->
<div id="page-step2" class="page right">
    <header class="bar bar-nav rb-inverse">
        <a class="icon icon-left-nav pull-left" data-history="back">
        </a>
        <a class="icon fa fa-paper-plane pull-right" href="#page-step3" data-toggle="page" data-start="#page-step2">
        </a>
        <h1 class="title">투자하기</h1>
    </header>

    <div class="content">

        <ul class="table-view">
            <li class="table-view-cell table-view-divider">투자상품 정보</li>

            <li class="table-view-cell media">
                <a>
                    <img class="media-object pull-left" src="http://goodfinance.co.kr/layouts/jumbotron/_images/pic-02.jpg" style="width: 64px">
                    <div class="media-body">
                        제54차 제주도 타운하우스 신축프로젝트
                        <p><span class="badge badge-primary badge-inverted">2개</span></p>
                    </div>
                </a>
            </li>
        </ul>

        <ul class="table-view rb-cart">
            <li class="table-view-cell table-view-divider">최종결제 금액</li>
            <li class="table-view-cell"><small>상품금액</small> <span class="badge badge-inverted">1,000,000 원</span></li>
            <li class="table-view-cell"><small>배송비</small> <span class="badge badge-inverted">0 원</span></li>
            <li class="table-view-cell"><small>할인금액</small> <span class="badge badge-negative badge-inverted">0 원</span></li>
            <li class="table-view-cell"><small>적립금사용</small> <span class="badge badge-inverted">0 원</span></li>
            <li class="table-view-cell rb-highlight"><strong>최종 결제금액</strong> <span class="badge badge-negative badge-inverted">1,000,000 원</span></li>

            <li class="table-view-cell table-view-divider">구매자 정보</li>
            <li class="table-view-cell">이름 <span class="badge badge-inverted">홍길동</span></li>
            <li class="table-view-cell">연락처 <span class="badge badge-inverted">010-9070-0777</span></li>
            <li class="table-view-cell">이메일 <span class="badge badge-inverted">break@kimsq.com</span></li>
        </ul>

        <div class="rb-cart">
            <h4 class="content-padded">배송지 정보</h4>   
            <form class="input-group">
                <div class="input-row rb-navigate-down">
                    <label>배송지</label>
                    <select>
                        <option label="선택하세요" disabled="disabled">선택하세요</option>
                        <option selected="selected">최근배송지</option>
                        <option>배송지1</option>
                        <option>배송지2</option>
                    </select>
                </div>
                <div class="input-row">
                    <label>수령인</label>
                    <input type="text" placeholder="" value="홍길동">
                </div>
                <div class="input-row">
                    <label>연락처</label>
                    <input type="text" placeholder="" value="010-9070-0777">
                </div>
                <div class="input-row">
                    <label>배송지</label>
                    <input type="text" placeholder="" value="100-111">
                </div>
                <div class="input-row">
                    <label></label>
                    <input type="text" placeholder="" value="경기도 남양주시 와부읍 덕소리">
                </div>
                <div class="input-row">
                    <label></label>
                    <input type="text" placeholder="" value="코오롱 아파트 100동 10 ">
                </div>
                <textarea rows="2" placeholder="배송지 메모"></textarea>
            </form>

            <h4 class="content-padded">결제방법 선택</h4>  
            <form class="input-group">
                <div class="input-row rb-navigate-down">
                    <label>카드종류</label>
                    <select>    
                        <option label="선택하세요" disabled="disabled">선택하세요</option>
                        <option>신한카드</option>
                        <option>롯데카드</option>
                        <option>카드 등록</option>
                    </select>
                </div>
                <div class="input-row rb-navigate-down">
                    <label>할부개월</label>
                    <select>    
                        <option label="선택하세요" disabled="disabled">선택하세요</option>
                        <option>없음</option>
                        <option>3개월</option>
                        <option>6개월</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- step 3 Page -->
<div id="page-step3" class="page right">
    <header class="bar bar-nav rb-inverse">
        <h1 class="title">투자성공</h1>
    </header>

    <div class="bar bar-standard bar-footer">
        <div class="segmented-control">
            <a class="control-item" data-history="back">닫기</a>
            <a class="control-item" data-history="back">투자내역 조회</a>
        </div>
    </div>

    <div class="content">

        <br><br>
        <p class="rb-message">
            <i class="fa fa-paper-plane fa-5x" aria-hidden="true"></i>
        </p>
        <br>
        <h3 class="rb-message">투자 완료되었습니다.</h3>


    </div>
</div>


<script type="text/javascript">


// 애니메이션 바
(function($){
    var fadeStart=40
        ,fadeUntil=160
        ,fading = $('.rb-cover-image')
        ,fading2 = $('.rb-cover-bg')
        ,fading3 = $('.rb-nav')
        ,fading4 = $('.rb-cover-name')
    ;
    $('.content').bind('scroll', function(){
        var offset = $(this).scrollTop()
            ,opacity=0
            ,opacity2=1
        ;
        if( offset<=fadeStart ){
            opacity=1;
            opacity2=0;
            opacity4=1;
            fading3.removeClass('rb-inverse fadeIn animated');
        }else if( offset<=fadeUntil ){
            opacity=1-offset/fadeUntil;
            opacity2=offset/fadeUntil;
            opacity4=0.7-offset/fadeUntil;
            fading3.removeClass('rb-inverse fadeIn animated');
        }else if( offset>fadeUntil ){
            fading3.addClass('rb-inverse fadeIn animated');
        }
        fading.css('opacity',opacity);
        fading2.css('opacity',opacity2);
        fading4.css('opacity',opacity4);
        
    });
})(jQuery)
</script>
