/**
 * layout 레이아웃 영역
 * ----------------------------------------------------------------------------
 */

body {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Malgun Gothic','맑은 고딕',sans-serif;
    color: #333;
}

/*bar-nav 영역 버튼 터치범위 확장*/
.bar a.pull-left,
.bar .btn-link.pull-left {
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.bar a.pull-right,
.bar .btn-link.pull-right {
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}


/*rb-menu*/

.rb-menu {
    height: 37px;
}

.rb-menu ~ .content {
    padding-top: 80px;
}

.rb-menu .segmented-control {
    top: 2px;
    border: none;
    border-radius: 0
}

.rb-menu .segmented-control .control-item {
    position: relative;
    background-color: transparent;
    padding: 10px 3px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    border: none;
}

.rb-menu .segmented-control .control-item.active {
    color: #007AFF
}

.rb-menu .segmented-control .control-item.active:after {
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    vertical-align: middle;
    content: " ";
    border-bottom: 5px solid;
    color: #007AFF;
}



/**
 * 1 - global 공통
 * ----------------------------------------------------------------------------
 */



/**
 * 2 - list 목록
 * ----------------------------------------------------------------------------
 */


.rb-blog-list .card {
    border-radius: 2px;
}

.rb-blog-list .card > a {
    color: inherit;
}

.rb-blog-list .card > a:active {
    background-color: #eee;
}

.rb-blog-list .card-img-top {
    border-radius: 2px 2px 0 0;
}

.rb-blog-list .card-title {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3rem
}


.rb-blog-list .rb-new {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    padding: 0.5rem 0.3rem 0.3rem;
    font-size: 0.3rem;
    border-radius: 0 0 0 4px;
    line-height: 0.3rem
}

.rb-blog-list .rb-img-wrap {
    position: relative;
}

.rb-blog-list .rb-img-wrap .rb-count {
    position: absolute;
    left: 1px;
    bottom: 1px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    font-size: .8em;
    border-radius: 0;
}

.rb-blog-list .card-inverse .card-img-overlay {
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

/*format-video*/

.rb-blog-list .rb-format-video .rb-img-wrap .rb-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    padding: 0;
    margin-left: -1.5rem;
    margin-top: -2rem;
    font-size: 3rem;
    color: #eee;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


/*format-gallery*/

.rb-blog-list .rb-format-gallery .rb-img-wrap .rb-icon {
    position: absolute;
    bottom: 1%;
    right: 5%;
    top: auto;
    left: auto;
    padding: 0;
    font-size: 1.5rem;
    color: #eee;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.rb-blog-list .rb-format-video .rb-img-wrap:before,
.rb-blog-list .rb-format-gallery .rb-img-wrap:before,
.rb-blog-list .rb-format-image .rb-img-wrap:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.1)),to(rgba(0,0,0,.6)));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.1),rgba(0,0,0,.6));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.1),rgba(0,0,0,.6));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.1),rgba(0,0,0,.6));
    content: '';
}


/**
 * 3 - view 보기
 * ----------------------------------------------------------------------------
 */

.popover.rb-format-standard:before {
    border: none;
}

.modal.rb-format-standard .rb-blog-body {
    margin: 10px;
    padding: 15px 0;
}


.modal.rb-format-standard .bar-nav .title {
    padding: 5px 80px 0 10px;
    font-size: 15px;
    line-height: 1.2;
}

.modal.rb-format-standard .bar-nav .title p {
    font-size: 12px
}

.modal.rb-format-standard .rb-blog-header {
    position: relative;
    margin: 0;
    padding: 30px 5px;
    background-color: #333;
    border-radius: 0;
    border: none;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 300px;
}

.modal.rb-format-standard .rb-blog-header:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    content: ''
}

.modal.rb-format-standard .rb-blog-header .card-block {
    position: absolute;
    bottom: 0;
    height: auto;
    padding: 30px 15px;
}

.modal.rb-format-standard .rb-blog-header .rb-category .badge{
    background-color: #333;
    color: #fff
}
.modal.rb-format-standard .rb-blog-header .rb-title {
    font-size: 28px;
    line-height: 35px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6)
}

.modal.rb-format-standard .rb-blog-header .rb-scroll {
    padding: 10px 0 0;
}
.modal.rb-format-standard .rb-blog-header .rb-scroll,
.modal.rb-format-standard .rb-blog-header .rb-scroll .icon {
    font-size: 12px;
}

.modal.rb-format-standard .rb-blog-body p {
    margin-bottom: 2em;
    font-size: 19px;
    color: #141414;
}

.modal.rb-format-standard .rb-blog-body figure {
    margin-bottom: 2em;
}

.modal.rb-format-standard .rb-blog-body figcaption {
    font-size: 0.8em;
    line-height: 1.5em;
    color: #616686;
    text-align: left;
    margin: 10px auto 0;
}

.modal.rb-format-standard .rb-blog-body figcaption:before {
    padding-right: 7px;
    content: '▲'
}

.modal.rb-format-standard .rb-blog-footer {
    margin-top: 30px
}

.modal.rb-format-standard .rb-blog-footer .rb-author .rb-avatar {
    width: 48px;
    height: 48px
}


/*share*/
.modal.rb-format-standard .rb-share {
    border: none
}
.modal.rb-format-standard .rb-share .control-item{
    font-size: 18px;
    color: #fff;
    border-left: none;
}
.modal.rb-format-standard .rb-share-facebook {
    background-color: #3A5795;

}
.modal.rb-format-standard .rb-share-twitter {
    background-color: #59ADEE;
}
.modal.rb-format-standard .rb-share-kakao {
    background-color: #FFEB00;
    color: #3C1E1E!important
}


/**
 * 4 - write 작성
 * ----------------------------------------------------------------------------
 */
