<html>
<head>
<meta charset="utf-8">
<title>floating-button</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- system-style -->
<link href="../../assets/plugins/ratchet-2.0.2/css/ratchet.css" rel="stylesheet">
<link href="../../assets/css/ratchet-theme-rb.css" rel="stylesheet">

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="../../assets/css/sys.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
    
<div class="rb-floating-tr">
    <div class="rb-floating-wrap">
        <a href="#" class="rb-floating-button-main">
            <i class="rb-floating-icon fa fa-refresh"></i>
        </a>
    </div>
</div>

<header class="bar bar-nav">
    <h1 class="title">floating-button</h1>
</header>

<div class="content">

    <div class="content-padded">

        top right

    </div>

</div>

</body>
</html>
