<style type="text/css">
.modal .rb-noPost {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -100px;
    padding: 0;
    color: #ccc;
    text-align: center;
}
.modal .rb-noPost i {
    display: block;
    margin: 0 auto 20px;
    width: 126px;
    font-size: 130px;
}
</style>

<header class="bar bar-nav bar-inverse">
	<a class="icon icon-left-nav pull-left" data-history="back"></a>
	<h1 class="title">장바구니</h1>
</header>

<div class="bar bar-standard bar-footer">
	<div class="segmented-control">
		<a class="control-item">비우기</a>
		<a class="control-item">주문하기</a>
	</div>
</div>

<div class="content">

	<div class="rb-noPost " data-role="nopost-999999836">
		<i class="fa fa-shopping-cart fa-5x"></i>
		장바구니에 담긴 상품이 없습니다.
	</div>

</div>