<html>
<head>
<meta charset="utf-8">
<title>popup</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- system-style -->
<link href="../../assets/plugins/ratchet-2.0.2/css/ratchet.css" rel="stylesheet">
<link href="../../assets/css/ratchet-theme-rb.css" rel="stylesheet">

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="../../assets/css/sys.css">
<link rel="stylesheet" href="./style.css">

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

</head>
<body>
    

<header class="bar bar-nav">
    <h1 class="title">popup (onload)</h1>
</header>


<div class="content">
</div>

<!-- popup 시작 -->
<div class="rb-popup" id="popup-01" role="popup">
    <div class="rb-wrap">
		<header class="bar bar-nav">
			<h1 class="title">타이틀</h1>
		</header>
		<div class="bar bar-standard bar-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="popup">취소</button>
			<button type="sumit" class="btn btn-primary pull-right" data-dismiss="popup">확인</button>
		</div>
		<div class="content">
			<div class="content-padded">
				<i class="fa fa-quote-left fa-3x fa-pull-left fa-border"></i>
				...tomorrow we will run faster, stretch out our arms farther...
				And then one fine morningtomorrow we will run faster, stretch out our arms farthertomorrow we will run faster, stretch out our arms farther And then one fine morningtomorrow we will run faster, stretch out our arms farthertomorrow we will run faster, stretch out our arms farther And then one fine morningtomorrow we will run faster, stretch out our arms farthertomorrow we will run faster, stretch out our arms farther And then one fine morningtomorrow we will run faster, stretch out our arms farthertomorrow we will run faster, stretch out our arms farther And then one fine morningtomorrow we will run faster, stretch out our arms farthertomorrow we will run faster, stretch out our arms farther 홍길동
			</div>
		</div>
    </div>
</div>


<script type="text/javascript">

$( document ).ready(function() {
	$("#popup-01").delay(300).queue(function(next) {
		$('body').append('<div class="backdrop"></div>');
		$(this).addClass("active");
     });
 });
 $('[data-dismiss="popup"]').on('click', function() {
     $('#popup-01').removeClass("active");
     $(".backdrop").remove();
 });

</script>


</body>
</html>
