.rb-overlay {
	display: none;
	position: fixed;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
}
.rb-mod-overlay .rb-overlay {
	display: block;
	opacity: 1;
	background-color: rgba(0, 0, 0, .3);
}
.rb-popover {
	display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
	opacity: 0;
	-webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
	   -o-transition:      -o-transform .25s, opacity 1ms .25s;
	      transition:         transform .25s, opacity 1ms .25s;
	-webkit-transform: translate3d(0, 100%, 0);
	  -ms-transform: translate3d(0, 100%, 0);
	      transform: translate3d(0, 100%, 0);
}
.rb-popover.active {
	display: block;
	opacity: 1;
	-webkit-transition: -webkit-transform .25s;
	   -o-transition:      -o-transform .25s;
	      transition:         transform .25s;
	-webkit-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	      transform: translate3d(0, 0, 0);
}
.rb-popover .table-view {
	margin-bottom: 0
}
